
* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
	background-color: #f7f7f7;
  background: url('/public/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.app-name {
  font-size: 2.3rem;
	color: rgb(255, 255, 255, 0.8);
	margin-bottom: 16px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 450px;
	min-height: 50px;
	/* background-color: rgb(255, 255, 255); */
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
	text-align: center;
	margin: 40px auto;
  border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	padding-bottom: 32px;
	box-shadow: 3px 3px 10px #818181;
}

.search-bar{
  width: 80%;
  border: 1px solid rgb(255, 255, 255, 0.5);
  box-sizing: border-box;
	font-size: 20px;
  font-weight: 500; 
  box-shadow: 3px 3px 8px #818181;
  border-radius: 20px;
  display: flex;  
}

.city-search {
	width: 70%;
	max-width: 400px;
	outline: none;
  border: none;
	font-size: 20px;
	background: transparent;
	background-position: 10px 12px;
	background-repeat: no-repeat;
	/* -webkit-transition: width 0.4s ease-in-out; */
	transition: width 0.4s ease-in-out;
	color: #000000;
  text-transform: uppercase; 
  margin-left: 5px;
  font-weight: 600;
}

.city-search::placeholder{
  color: rgb(0, 0, 0, 0.5);
  font-weight: 500;
}

.search-bar i{
  width: 40px;
  height: 40px;
  color: white;
  font-size: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

.search-bar button{
  outline: none;
  border: none;
  background: transparent;
  font-size: 30px; 
  left: 0;
  color: white;
}

.search-bar button:hover{
  cursor: pointer;
}



/* .city-search:focus {
	width: 100%;
} */

.city-name {
	font-size: 1.5rem;
	color: #444;
	margin-bottom: 8px;
}

.date {
	font-size: 1.25em;
	font-weight: 500;
	color: #6e6262;
}

.icon-temp {
	font-size: 4rem;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}


.deg {
  font-size: 1.3rem;
	vertical-align: super;
}

.des-wind {
  color: #000000;
	font-weight: 700;
}

.error-message {
  font-weight: 700;
	text-align: center;
	color: #d32f2f;
	font-size: 30px;
	margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-message img{
  width: 60%;
  margin: 30px 0;
}

.Loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.Loader>div {
	margin: 0 auto;
}

